<ion-header>
    <ion-toolbar>
      <ion-title>
        Se.WC ID
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
        <ion-slides autoplay="5000" loop="true" speed="3000">
            <ion-slide>
              <img src="assets/sedot wc fix.jpg" alt="" />
            </ion-slide>
            <ion-slide>
              <img src="assets/pembersih toilet.jpg" alt="" />
            </ion-slide>
            <ion-slide>
              <img src="assets/Pembuatan saluran.jpg" alt="" />
            </ion-slide>
          </ion-slides>
      <ion-card-header>
          <P align="center">
            <ion-card-subtitle>SEDOT BERSIH BANGUN</ion-card-subtitle>
            <ion-card-title>KEPUASAN ANDA SEBAGIAN DARI GAJI KAMI</ion-card-title>
          </P>
      </ion-card-header>
      <ion-card-content>
            <p>Kunjungi Website Pusat dari Kami. Berbagai banyak informasi pelayanan WC dari Kami</p>
      </ion-card-content>
      <ion-item href="https://sedotwcbandungdansekitarnya.blogspot.com/2019/02/sedot-wc-bandung-dan-sekitarnya_3.html">
        <ion-icon slot="start" color="medium" name="logo-freebsd-devil"></ion-icon>
        <ion-label>Blogspot</ion-label>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Se.WC ID</ion-label>
          <ion-textarea
            disabled
            readonly
            value="Se.WC ID Layanan WC Terpusat Jawa Barat mengutamakan keprofesionalitas">
          </ion-textarea>
        </ion-item>
  </ion-card>
  </ion-content>

  