<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" icon-only outline block (click)="presentAlert()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>SEDOT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" icon-only outline block (click)="presentAlert()">
      <ion-icon name="color-wand"></ion-icon>
      <ion-label>BERSIH</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" icon-only outline block (click)="presentAlert()">
      <ion-icon name="construct"></ion-icon>
      <ion-label>BANGUN</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" icon-only outline block (click)="presentAlert()">
      <ion-icon name="contact"></ion-icon>
      <ion-label>ABOUT.US</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
